/* service-container */
.service-container {
  width: 1000px;
  margin: 30px auto auto auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 40px;
}

.service-item {
    width: 200px;
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 5px;
    font-size: 150%;
    border-radius: 15px;
}

.service-img img {
  width: 180px;
  height: 180px;
  border-radius: 15px;
}

/* product-info */
.service-info {
  padding-left: 5px;
  padding-top: 5px;
}

/* service-title */
.service-title {
  font-size: .99rem;
  line-height: 1.5;
  font-weight: bold;
}

/* product-desc */
.service-desc {
  font-size: .75rem;
  line-height: 1.5;
  color: rgba(58, 56, 53, 0.7);  
}

.admin-service-list {
  max-height: 500px;
  overflow: scroll;
  padding: 0;
  border: 1px solid lightgrey;
}


#admin-service-preview {
  margin: 30px auto auto auto;
  width: 200px;
}

.admin-panel {
  margin-top: 30px;
}

#admin-service-details-form .row {
  margin: 15px auto 15px auto;
}

.pouet {
        color: red;
        background: grey;
        border: 1px dashed blue;
        border-radius: 5px;
}

/* ####### FOOTER ####### */

.footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  background: blue;
}