html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace
}
nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #0E2954;
}
nav h1{
  color: #0E2954;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
}

nav .liens{
  margin-top: 4px;
  margin-left: 320px;

}

nav .liens a{
  text-decoration: none;
  color: black;
  margin-right: 10px;
  border-bottom: 1px solid #0E2954;
  padding-bottom: 3px;
}

.exept {
  background-color: lightgreen;
  border-radius: 0px 14px;
  margin-bottom: 2px;   
  
}

button {
  display: block;
  cursor: grab;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(#);
  /*background: url('../Site/Images/Bannière\ accueil.jpg');*/
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 0 0 3px black;
  padding: 80px;
  
}


header h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

header h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
}

header h5 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  margin-top: 2px;
  text-align: center;
}

.main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .content .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 18px;

}

.main .content .card .left {
  flex: 0 0 25%;
  padding : 20px;
  background-color: #0E2954;
  color: #84A7A1;
}

.main .content .card.right {
  flex: 0 0 75%;
  
}

.main .content .card .right img {
  height: 300px;
  width: 400px;
  margin-top: 5px;
}

footer {
  margin-top: 40px;
  border-top: 3px solid #0E2954;
  background-color: black;
  color: white;
  padding: 30px 100px;
}

footer h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /*border-bottom: 2px solid #0E2954;*/
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #0E2954;
  width: 15%;
  padding-bottom: 5px;
}

footer .contacts {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer .contacts .contact {
  margin-right: 20px;
  padding: 20px;

}

footer .contacts .contact p {
  max-width: 300px;
}

footer #contact {
  color: #2E8A99;
}

@media screen and (max-width : 680px){
  nav .liens {
      margin-left: 0px;
      margin-bottom: 20px;
  }
  .main .card{
      margin: 10px;
  }
  .main .content .card .right img {
      height: 150px;
      width: 100%;
      margin-top: 0px;
  }
  .main .content .card {
      display: block;
  }
  footer {
      padding: 30px;
  }
}

.information {
  color: red;
  /* border: 1px dashed darkred; */
  width: 800px;
  min-height: 20px;
  margin: auto;
  text-align: center;
  font-weight: bold;
}
