{% extends "layout.html" %}

{% block content %}
<!-- </header> -->
<!--         <h1>Garage V. Parrot</h1> -->
<!--         <h3>Nos meilleurs éléments à votre service !</h3> -->
<!--                 <a href=""><button class="exept" type="button">Connexion</button></a> -->
<!--         <h5>Pas encore inscrit ? <br>N'attendez plus : <a href="#"><br>Je m'inscris !</a></h5> -->
<!-- <header> -->
        

<section class="infobox">
        <div class="infotitle">
                <h1>Nos Services</h1>
                <p>Trouvez ce dont vous avez besoin</p>
        </div>
        <div id="services-list" class="service-container infodesc"></div>
</section>

<section class="infobox">
        <div class="infotitle">
                <h1>Infos</h1>
                <p>Bonjour et Bienvenue</p>
        </div>
        <div class="infodesc">
                <p>Vous pourrez retrouver notre catalogue de services et de voitures disponibles en ligne.</p>
                <p>Le site est en construction, vous retrouverez bientôt plus de choix.</p>
                <p>Merci pour votre patience !</p>
                <p>En attendant, vous pouvez passer nous voir au garage pendant nos heures d'ouverture, on vous attend.</p>
        </div>
</section>

<section class="infobox">
        <div class="infotitle">
                <h1>Contactez-nous</h1>
                <p>Formulaire, téléphone et adresse</p>
        </div>
        <div class="infodesc">
                {% include "form.html" %}
        </div>
</section>


{% endblock %}
