<footer>
<!-- Footer -->
  <h1>Contacts</h1>
  <div>
      <div class="contacts">
          <div class="contact">
              <h2>Assistance 24h/24</h2>
              <ul class="liste-horaires">
                <li>lun.:  08:45 - 12:00, 14:00 - 18:00</li>
                <li>mar.:  08:45 - 12:00, 14:00 - 18:00</li>
                <li>mer.:  08:45 - 12:00, 14:00 - 18:00</li>
                <li>jeu.:  08:45 - 12:00, 14:00 - 18:00</li>
                <li>ven.:  08:45 - 12:00, 14:00 - 18:00</li>
                <li>sam.:  08:45 - 12:00</li>
                <li>dim.:  Fermé</li>
              </ul>
          </div>
          <div class="contact">
              <h2>Garantie constructeur préservée</h2>
              <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia excepturi repellat omnis aspernatur sequi tempore cum dignissimos illum? Dolore iusto mollitia laborum sint labore aut hic nobis similique ex quo.</p>
          </div>
          <div class="contact">
              <h2>Automobiliste et responsable</h2>
              <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia excepturi repellat omnis aspernatur sequi tempore cum dignissimos illum? Dolore iusto mollitia laborum sint labore aut hic nobis similique ex quo.</p>
          </div>
          <div class="contact">
              <h2>Réseau</h2>
              <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia excepturi repellat omnis aspernatur sequi tempore cum dignissimos illum? Dolore iusto mollitia laborum sint labore aut hic nobis similique ex quo.</p>
          </div>
      </div>
  </div>
  <p id="contact">&copy; 2023, Garage V.Parrot</p>

</footer>
<!-- <hr>

  <div class="content-footer">

    <div class="bloc footer-infos">

      <h3>Informations</h3>

      <p>N'attendez plus, contactez nous</p>
      <p>??-??-??-??</p>
      <p>support.client@contact.com</p>
      <p>4 Rue de par là bas, Paris </p>

    </div>

    <div class="bloc footer-horaires">

      <h3>Nos horaires</h3>

      <ul class="liste-horaires">
        <li>lun.:  08:45 - 12:00, 14:00 - 18:00</li>
        <li>mar.:  08:45 - 12:00, 14:00 - 18:00</li>
        <li>mer.:  08:45 - 12:00, 14:00 - 18:00</li>
        <li>jeu.:  08:45 - 12:00, 14:00 - 18:00</li>
        <li>ven.:  08:45 - 12:00, 14:00 - 18:00</li>
        <li>sam.:  08:45 - 12:00</li>
        <li>dim.:  Fermé</li>
      </ul>

    </div>

    <div class="bloc footer-services">

      <h3>Nos Services</h3>

      <ul class="liste-services">
        <li><a href="../garage/templates/garage/home.html">Accueil</a></li>
        <li><a href="#">Catalogue</a></li>
        <li><a href="#">Horaires</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Connexion</a></li>
      </ul>

    </div>

  </div>
   -->
